extends layout

block content
  h1= title
  h4
    a(href="/") Home

  ul
    each equipo in equipos
        li
            p ID: #{ equipo.id }
            p Integrantes:
                ul 
                    each integrante in equipo.integrantes
                        li  #{ integrante }
            p Categorias:
                ul 
                    each categoria in equipo.categorias
                        li #{ categoria }
