extends layout

block content
  h1= title
  h4
    a(href="/") Home

  ul
    each patrocinante in patrocinantes
        li
            strong #{ patrocinante.patrocinante }
            p ID: #{ patrocinante.id }
            p Equipo patrocinado: #{ patrocinante.idEquipo }
